* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.common_btn {
  display: inline-block;
  background: #fff;
  color: #ff9600;
  border-radius: 5px;
  padding: 18px 50px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  transition: all linear 0.3s;
}
.common_btn:hover {
  background-color: #ff9600;
  color: #fff;
}
/* ===== NavBar Starts Here ===== */
#navBar {
  background-color: transparent;
  margin: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 20%;
}
.menu {
  width: 60%;
}
.menu ul {
  display: flex;
  align-items: center;
  column-gap: 50px;
  justify-content: center;
}
.menu ul li a {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  transition: color linear 0.3s;
}
.menu ul li a:hover {
  color: #ff9600;
}
.nav_btn {
  width: 20%;
  text-align: center;
}
/* ===== NavBar Ends Here ===== */

/* ===== Banner Section Start ===== */
#banner {
  width: 100%;
  padding: 250px 0 155px 0;
  background: url("../images/banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.banner_wrapper h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
  color: #fff;
  width: 820px;
  text-align: center;
  margin: 0 auto;
  /* padding: 0 240px; */
  /* text-align: center; */
}
.banner_btn {
  margin: 55px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
/* ===== Banner Section End ===== */
